<div class="user-container" id="user-login">

  <%= form_with scope: :session, url: login_path, local: true do |form| %>


    <div class="col-md-6 col-md-offset-3">
      <div class="card wow fadeInRight" data-wow-delay="0.3s">
      <div class="card-body">

        <% if @errors %>
          <br>
          <h3><%= @errors if @errors %></h3>
        <% end %>

            <!--Header-->
            <br>
            <div class="text-center">
                <h3 class="white-text">
                <!-- <i class="fa fa-user white-text"> -->
                </i>Log In:
                </h3>
                <hr class="hr-light">
            </div>

            <!--Body-->


            <div class="md-form">
                <!-- <i class="fa fa-envelope prefix white-text active"></i> -->
                <%= form.label :email %><br>
                <%= form.text_field :email, class: "form-control" %>
            </div>

            <div class="md-form">
                <!-- <i class="fa fa-lock prefix white-text active"></i> -->

                <%= form.label :password %><br>
                <%= form.password_field :password, class: "form-control" %>

            </div>

            <br>
              <div>
                <%= form.submit 'Log In', class: "login-button" %>
                <br></br>
                <p class="loggy">If you aren't already a user, <a href="/"><span class="regis-link">register here</span></a>.</p>
              </div>
            <br>

        </div>
        </div>

    </div>

  <% end %>

</div>
