<div class="user-container" id="edit-user">

  <!--Form-->
  <%= form_for(@user) do |form| %>

    <div class="col-md-6 col-md-offset-3">
      <div class="card wow fadeInRight" data-wow-delay="0.3s">
      <div class="card-body">
      <br>

        <% if @errors %>
          <%= @errors %>
        <% else %>
          <% if @user.errors.any? %>
          <div class="error_messages">
            <br>
            <h3>Sorry...</h3>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        <% end %>


            <!--Header-->
            <br>
            <div class="text-center">
                <h3 class="white-text"><i class="fa fa-user white-text"></i> Edit Profile</h3>
                <hr class="hr-light">
            </div>

            <!--Body-->

            <div class="md-form">
                <i class="fa fa-user prefix white-text active"></i>
                <%= form.label :username %><br>
                <%= form.text_field :username, class: "form-control" %>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix white-text active"></i>
                <%= form.label :email %><br>
                <%= form.text_field :email, class: "form-control" %>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix white-text active"></i>

                <%= form.label 'New Password' %><br>
                <%= form.password_field :password, class: "form-control" %>

            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix white-text active"></i>

                <%= form.label 'current Password' %><br>
                <%= form.password_field :current_password, class: "form-control" %>

            </div>

            <!-- quiz start -->

      <div class="modal-body" id="beer-formy">
        <h3>On a scale of 1-5...</h3>
        <p>How much do you enjoy light beer?</p>
        <div class="light-beer-ques beer-preference">
            <input type="radio" id="light-rating-1" class="light-rating-input" name="user[light_rating]" value="1"/>
            <label class="beer-glass" for="light-rating-1"></label>

            <input type="radio" id="light-rating-2" class="light-rating-input" name="user[light_rating]" value="2"/>
            <label class="beer-glass" for="light-rating-2"></label>

            <input type="radio" id="light-rating-3" class="light-rating-input" name="user[light_rating]" value="3"/>
            <label class="beer-glass" for="light-rating-3"></label>

            <input type="radio" id="light-rating-4" class="light-rating-input" name="user[light_rating]" value="4"/>
            <label class="beer-glass" for="light-rating-4"></label>

            <input type="radio" id="light-rating-5" class="light-rating-input" name="user[light_rating]" value="5"/>
            <label class="beer-glass" for="light-rating-5"></label>

            <br></br>

            <span class="rate-nums">12345</span>
        </div>

        <p>How much do you enjoy dark beer?</p>
        <div class="dark-beer-ques beer-preference">
            <input type="radio" id="dark-rating-1" class="dark-rating-input" name="user[dark_rating]" value="1" />
            <label class="beer-glass" for="dark-rating-1"></label>

            <input type="radio" id="dark-rating-2" class="dark-rating-input" name="user[dark_rating]" value="2"/>
            <label class="beer-glass" for="dark-rating-2"></label>

            <input type="radio" id="dark-rating-3" class="dark-rating-input" name="user[dark_rating]g" value="3"/>
            <label class="beer-glass" for="dark-rating-3"></label>

            <input type="radio" id="dark-rating-4" class="dark-rating-input" name="user[dark_rating]" value="4"/>
            <label class="beer-glass" for="dark-rating-4"></label>

            <input type="radio" id="dark-rating-5" class="dark-rating-input" name="user[dark_rating]" value="5"/>
            <label class="beer-glass" for="dark-rating-5"></label>

            <br></br>

            <span class="rate-nums">12345</span>
        </div>

        <p>How much do you enjoy hoppy beer?</p>
        <div class="hoppy-beer-ques beer-preference">
            <input type="radio" id="hoppy-rating-1" class="hoppy-rating-input" name="user[hoppy_rating]" value="1"/>
            <label class="beer-glass" for="hoppy-rating-1"></label>

            <input type="radio" id="hoppy-rating-2" class="hoppy-rating-input" name="user[hoppy_rating]" value="2"/>
            <label class="beer-glass" for="hoppy-rating-2"></label>

            <input type="radio" id="hoppy-rating-3" class="hoppy-rating-input" name="user[hoppy_rating]" value="3"/>
            <label class="beer-glass" for="hoppy-rating-3"></label>

            <input type="radio" id="hoppy-rating-4" class="hoppy-rating-input" name="user[hoppy_rating]" value="4"/>
            <label class="beer-glass" for="hoppy-rating-4"></label>

            <input type="radio" id="hoppy-rating-5" class="hoppy-rating-input" name="user[hoppy_rating]" value="5"/>
            <label class="beer-glass" for="hoppy-rating-5"></label>

            <br></br>

            <span class="rate-nums">12345</span>
        </div>

            <!-- quiz end -->
            <br>
              <div>
                <%= form.submit 'Update' %>
              </div>
            <br>

        </div>
        </div>

    </div>
  <% end %>
</div>
