<div class="user-container" id="edit-user">

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid.</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--Form-->
  <%= form_for(@user) do |form| %>
    <div class="col-md-6 col-md-offset-3">
        <div class="card wow fadeInRight" data-wow-delay="0.3s">
        <div class="card-body">
            <!--Header-->
            <br>
            <div class="text-center">
                <h3 class="white-text"><i class="fa fa-user white-text"></i> Edit Profile</h3>
                <hr class="hr-light">
            </div>

            <!--Body-->

            <div class="md-form">
                <i class="fa fa-user prefix white-text active"></i>
                <%= form.label :username %><br>
                <%= form.text_field :username, class: "form-control" %>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix white-text active"></i>
                <%= form.label :email %><br>
                <%= form.text_field :email, class: "form-control" %>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix white-text active"></i>

                <%= form.label :password %><br>
                <%= form.password_field :password, class: "form-control" %>

            </div>

            <br>
              <div>
                <%= form.submit 'Update' %>
              </div>
            <br>

        </div>
        </div>

    </div>
  <% end %>
</div>
