<div class="transbox">
  <h1>Welcome, <%= @current_user.username %></h1>

  <!-- PROFILE PICTURE -->

  <!-- quiz results / preferences based on quiz -->
  <div class="quiz-result-display">
    Here are your personal preferences:
    <br></br>
    Light beer ranking: <%= @current_user.light_rating %>
    <br></br>
    Dark beer ranking: <%= @current_user.dark_rating %>
    <br></br>
    Hoppy beer ranking: <%= @current_user.hoppy_rating %>
    <br></br>

    Based on these results, you are...

    <% case @current_user.hoppy_rating %>
    <% when 4 || 5  %>
      <%= " a HOP - tometrist!" %>
    <% end %>

    <% case @current_user.dark_rating %>
    <% when 4 || 5  %>
      <%= "All about porter and stout!" %>
    <% end %>

    <% case @current_user.light_rating %>
    <% when 4 || 5  %>
      <%= "a beach blonde babe!" %>
    <% end %>

  </div>

  <br></br>




  <!-- SUGGESIONS PER REVIEW -->
  <% if @suggestions %>
  <p>Based on your reviews, here are some suggestions:</p>

      <% @suggestions.each do |suggestion| %>
      <a href=<%= suggestion.image %>><%= suggestion.name %><div><img src=<%= suggestion.image %>></div></a><br>
      <% end %>

  <br>
  <% end %>

  <!-- BABE SUGGESTIONS -->
  <% if @babe_suggestions %>
    <p>Here are some suggestions based on other users who share the same preferences as you:</p>

    <% @babe_suggestions.each do |babe_suggestion| %>
      <a href=<%=babe_suggestion.image %>><%= babe_suggestion.name %><div><img src=<%= babe_suggestion.image %>></div></a><br>
    <% end %>
  <% end %>

 <%= render 'shared/links' %>

</div>


