<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><h1 class="welcome">Drink up, <%= @current_user.username %>.</h1></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image circle-1">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="subheading">Personal Preferences</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                    Light beer ranking: <%= @current_user.light_rating %>
                    <br>
                    Dark beer ranking: <%= @current_user.dark_rating %>
                    <br>
                    Hoppy beer ranking: <%= @current_user.hoppy_rating %>
                    <br>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image circle-2">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="subheading">Recommendations (based on "my beers") </h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">

                    <% if current_user.reviews.length > 0 %>
                      <% @suggestions.each do |suggestion| %>
                      <div>
                      <a class="sug-links" href=<%= suggestion.image %>>
                      </div>
                      <%= suggestion.name %>
                      <div>
                      <img src=<%= suggestion.image %>>
                      </div>
                      </a>
                      <br>
                      <%end %>
                    <% else %>
                      <p class="text-muted"> Start adding some beers to "my beers" to receive recommendations!</p>
                    <% end %>

                  </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image circle-3">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="subheading">Beer suggestions (based on users who share your preferences)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                    <% @babe_suggestions.each do |babe_suggestion| %>
                    <div>
                    <a class="sug-links" href=<%=babe_suggestion.image %>>
                    </div>
                    <%= babe_suggestion.name %>
                    <div>
                    <img src=<%= babe_suggestion.image %>>
                    </div>
                    </a>
                    <br>
                    <% end %>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <footer><%= render 'shared/links' %></footer>
