<button type="button" class="beer-form-button">+ Add a beer</button><br>

    <%= @errors if @errors %>

<div class="add-beer-form">
  <%= simple_form_for [current_user, beer] do |form| %>
    <p>
      <%= form.input :name %>
    </p>

    <p>
      <%= form.input :brewery %>
    </p>

    <p>
      <%= form.input :independent, collection: ["Independent", "No Independent"] %>
    </p>

    <p>
      <%= form.input :beer_style, :placeholder => "Hefeweizen Porter Imperial Stout Session IPA ..." %>
    </p>

    <p>
      <%= form.input :characteristic, collection: ["Hoppy", "Dark", "Light"] %>
    </p>

    <%= form.simple_fields_for :reviews do |review| %>
    <p>
      <%= review.input :comments, as: :ckeditor, input_html: {:ckeditor => {uiColor: '#FFFFFF', height: 55,:toolbar => 'Mini'}} %>
    </p>
    <p>
      <%= review.input :notes, as: :ckeditor, input_html: {:ckeditor => {uiColor: '#FFFFFF', height: 50, :toolbar => 'Pure'}} %>
    </p>
    <p>
      <%= review.input :location, :placeholder => "Brewery/Store Name, City, State" %>
    </p>
    <p>
      <%= review.input :date, as: :date, html5: true %>
    </p>
    <p>
      <%= review.input :rating, as: :radio_buttons, collection: [ 1,2,3,4,5 ], item_label_class: "radio-inline",  :item_wrapper_tag => false %>
    </p>
    <%= review.hidden_field :user_id, :value => current_user.id %>
   <% end %>
    <%= form.submit 'Save', :class => "beer-save-button" %>
  <% end %>
</div>
