<div class="beer-box">
<h1>My Beers</h1>

<% if logged_in? %>

<ul>
<% @beers.each_with_index do |beer, index| %>
  <h4><%= link_to beer.name, "#beer-info#{index.to_s}", data: {toggle: :collapse} %>
    <% beer.reviews.first.rating.times do %>
    <li class='fa fa-beer' aria-hidden='true'></li>
    <% end %>
    </h4>
  <div id="beer-info<%= index.to_s %>" class='collapse mybeer-info'>
    <img id="beer-image" src="<%= beer.image %>">
    <div id="beer-comment">
      <strong>Comment</strong><br>
      <%= beer.reviews.first.comments %>
    </div>
    <div id="beer-note">
      <strong>My Notes</strong><br>
      <%= beer.reviews.first.notes %>
    </div>
  </div>
<% end %>
</ul>

<br><br>

<br><br>
  <%= render partial: 'new_form', locals: {beer: @beer} %>
<% end %>


  <%= render 'shared/searched_beers' %>
</div>


