<div class="transbox">
<h1>My Beers</h1>

<ul>
<% @beers.each do |beer| %>
  <h5><%= link_to beer.name %> <li class="fa fa-beer" aria-hidden="true"></li>  <%= beer.reviews.first.rating%></h5>
  <p> </p>
<% end %>
</ul>


<br></br>
  <button type="button" class="beer-form-button">+ Add a beer</button>
  <br></br>

  <form class="add-a-beer">
  <%= form_with scope: :review, local: true do |form| %>
    <%= form.text_field :name, :placeholder => "Beer Name" %><br><br>

    <%= form.text_field :name, :placeholder => "Type" %><br><br>

    <%= form.text_area :name, :placeholder => "Comments" %><br><br>

    <%= form.submit 'Save' %>
  <% end %>
</form>
</div>
