<div class='beer-box'>
  <h1><%= @beer.name %></h1>
  <p><b>Style</b> <%= @beer.beer_style %> | <b>Characteristic</b> <%= @beer.characteristic %></p>
  <p><b>Brewery</b> <%= @beer.brewery %> | <b>City</b> <%= @beer.city %> |
  <% if @beer.independent %>
    <b>Independent</b> Yes</p>
  <% else %>
    <b>Independent</b> No</p>
  <% end %>


  <!-- GOOGLE MAPS TESTING -->

  <iframe id="map-show"
       width="100%"
       height="100%"
       frameborder="0" style="border:0;"
       src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&q=<%= @beer.brewery %>"allowfullscreen>
     </iframe>

</div>
